html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  @media only screen and (max-width: 500px) {
    font-size: 10px;
  }
}
* {
  margin-top: 0;
}

body {
  font-family: Open Sans, serif;
  background-color: var(--white);
  color: var(--text-color);
  box-sizing: border-box;
  background-image: url("../images/macbook_bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --primary-color: #292929;
  --secondary-color: #10072b;
  --grey: #73757e;
  --white: #fff;
  --primary-bd: #d3d6e7;
  --shadow-color: #d5d5d5;
  --form-bg: #ccccc8;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.section-container {
  padding-top: 5vh;
  @media only screen and (max-width: 500px) {
    padding-top: 2vh;
  }
}

.section-text-container {
  background-color: var(--white);
  padding: 6vh 8vh 6vh 6vh;
  min-height: 60%;
  > h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 500px) {
    padding: 4vh 6vh 3vh 3vh;
    h2 {
      font-size: 16px;
    }
  }
}

.section-text {
  background-color: var(--white);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 3vh;
  padding-right: 3vh;
  font-size: 1.2rem;
  cursor: pointer;
  div {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: underline;
    margin-left: 1rem;
    margin-top: 15px;
    color: var(--white);
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 20px;
    }
  }
  @media only screen and (orientation: landscape) {
    justify-content: space-evenly;
    margin-top: 1vh;
    left: 4vh;
    div {
      transform: initial;
      writing-mode: initial;
    }
  }
}

.headline {
  font-family: Bebas Neue, sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  @media only screen and (max-width: 500px) {
    font-size: 40px;
  }
}

.grids {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  @media screen and (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }
}



.site-footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  img {
    width: 30px;
    margin: 10px 20px 10px;
  }
}

h3 {
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  border-top: 1px solid var(--grey);
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
}

.tech-img {
  max-height: 7vmin;
  margin: 0 2vw 1vw;
  &:hover {
    transform: scale(1.2);
  }
}

